// Variables here...

$black: #170710;
$white: #ffffff;
$pink: #e53094;
$purple: #292242;
$darkGrey: #504e4f;
$lightGrey: #f4f2f3;

$hStack: futura-pt, "Trebuchet MS", Arial, sans-serif;
$pStack: "Proxima Nova", sans-serif;

$smartphone: 300px;
// Check these
$tablet: 600px;
$desktop: 1000px;
$largeDesktop: 1600px;