.call-to-action{
    background: $lightGrey;
    padding: 50px 0px;
}

.call-to-action__title{
    margin-bottom: 30px;
    font-size: 2.4em;
    font-weight: normal;
    @media screen and (min-width: $desktop){
        font-size: 2.7em;
    }
}

.call-to-action__columns{
    @media screen and (min-width: $tablet){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 80px;
    }
    @media screen and (min-width: $desktop){
        grid-column-gap: 120px;
    }
}

.call-to-action__summary{
    margin-bottom: 30px;
    p{
        font-size: 1.1em;
        line-height: 1.6;
        margin-bottom: 15px;
        @media screen and (min-width: $desktop){
            font-size: 1.2em;
            line-height: 1.6;
        }
    }
}
