
.key-facts{
    margin-bottom: 50px;
    @supports(display: grid){
        @media screen and(min-width: 300px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 30px;
        }
        @media screen and(min-width: $tablet){
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 30px;
        }
    }
    @media screen and(min-width: $desktop){
        margin-bottom: 60px;
    }
}

.key-facts__fact{
    margin-bottom: 15px;
    color: $black;
}


.key-facts__label{
    font-size: 0.9em;
    color: transparentize($black, 0.5);
    margin-bottom: 5px;
    @media screen and(min-width: $desktop){
        font-size: 1.1em;
        margin-bottom: 10px;
    }
}

.key-facts__value{
    font-size: 1.25em;
    @media screen and(min-width: $desktop){
        font-size: 1.3em;
    }
}
