
.main-content{
    .lede{
        font-size: 2.3em;
        margin-bottom: 50px;
    }

    .body{
        font-size: 1.1em;
        line-height: 1.5;
        margin-bottom: 30px;
    }
    
    .section-title{
        font-size: 1.1em;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .list{
        margin-bottom: 40px;
        font-size: 1.1em;
        line-height: 1.5;
        li{
            margin-bottom: 15px;
            position: relative;
            margin-left: 20px;
            padding-left: 10px;
        }
    }

}