@import 'vars';
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $pStack;
}

h1, h2, h3, h4, h5, h6, p, li{
    color: $black;
}

.container{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.button{
    color: $pink;
    border: 3px solid $pink;
    display: block;
    margin-bottom: 15px;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
    border-radius: 3px;
    &:focus, &:hover, &:active{
        filter: brightness(1.1)
    }
}

.button--solid{
    color: $white;
    background-color: $pink;
}

@import 'header';
@import 'keyFacts';
@import 'mainContent';
@import 'projects';
@import 'callToAction';
@import 'footer';