.projects__title{
    font-size: 2.4em;
    font-weight: normal;
    margin-bottom: 50px;
    line-height: 1.1;
}

.projects__project{
    margin-bottom: 60px;
    display: block;
    text-decoration: none;
    color: inherit;
    &:hover{
        .projects__image{
            transform: scale(1.05);
        }
    }
}

.projects__image-holder{
    width: 100%;
    // width: 100vw;
    // position: relative;
    // left: 50%;
    // right: 50%;
    // margin-left: -50vw;
    // margin-right: -50vw;
    overflow: hidden;
    margin-bottom: 25px;
}

.projects__image{
    display: block;
    width: 100%;
    transition: 0.3s ease-out;
}

.projects__masthead{
    margin-bottom: 30px;
}

.projects__category{
    font-size: 0.9em;
    opacity: 0.5;
}

.projects__name{
    display: inline;
    font-size: 2em;
    line-height: 1.2;
    margin-right: 5px;
}

.projects__description{
    display: inline;
    opacity: 0.5;
    font-size: 2em;
    line-height: 1.2;
}